<template>
  <div>
    <section class="inline-block w-1/2 my-4 p-6 rounded-md bg-gray-600">
        <div class="search w-full px-2 rounded">
            <!-- <div class="search__box bg-gray-800">hello</div> -->
            <div class="search__result rounded px-3 flex items-center justify-between h-24 bg-gray-400">
              <div class="counter flex flex-col justify-between cursor-pointer h-20 rounded-sm bg-red-300">
                <div class="counter__button" v-on:click="fetchFact(number+1)">▲</div>
                <div class="counter__container flex justify-between flex-grow items-center">
                  <div v-for="item in 4" :key="item" class="counter__digit">{{ calculateNumber[4-item] || 0 }}</div>
                </div>
                <div class="counter__button" v-on:click="fetchFact(number-1)">▼</div>
              </div>
              <span class="search__text text-left">{{ fact.text }}</span>
            </div>
        </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data () {
    
    return {
      //
    }
  },
  computed: {
      ...mapGetters('number', ['fact', 'number', 'calculateNumber'])
  },
  methods: {
      ...mapActions('number', ['fetchFact']),
  },
  mounted() {
    this.fetchFact('random');
  }
}
</script>

<style lang="scss">
.counter {
  width: 135px;
}
.counter__button {
  font-size: 12px;
}
.counter__container {
  background: #314a5b;
}
.counter__digit {
  width: 33px;
  color: #02273f;
  background-color: #cce4f4;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
}
.search__text {
  width: 70%;
}

</style>